body {
	background-color:#000000;
	text-align:center; 
    font-family:"Georgia"; 
    color:white;
}
#wrapper{
	width:80%;
	float: center;
}

#col1 {
	width:20%;
	float: left;
}
#col2{
	width: 60%;
	float: left;
}
#col3{
	width: 20%;
	float: left;
}