body {
	background-color:#000000;
	text-align:center; 
	font-family:"Georgia"; 
	color:white;
}

button {
	padding:5px;
	border: 1px white solid;
	background-color:black;
	color: white;
	font-family: "Georgia";
	border-radius:1px;

}

#wrapper {
	margin: 0 auto;
	width: 80%;
}

.column {
	border: 1px #666666 solid;

	float: left;
}
#one {

	width: 59%; //60% doesnt work, probably because of the 1px pixel - change this to 60% when borders are removed
}
#two{
	width: 20%;
}
#three{
	width: 20%;
}
#one ul {
	list-style-type:none;
	background-image: -moz-linear-gradient(#FFFFFF, #000000);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#000000));
	background-image: -webkit-linear-gradient(#FFFFFF, #000000);
	background-image: -o-webkit-linear-gradient(#FFFFFF, #000000);
	background-image: -ms-linear-gradient(#FFFFFF, #000000);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
