<!DOCTYPE html>

<head>
	<link rel="stylesheet" type="text/css" href="../static/main.css">
</head>

<body>
	<h1>TEST</h1>
	<br>
	<div id="wrapper"> 
		<div class="column" id="one">
			<ul>
				<!--Fill this using jinja when we have the real list of events -->
				<li>0</li>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
				<li>6</li>
				<li>7</li>
				<li>8</li>
				<li>9</li>
				<li>0</li>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
				<li>6</li>
				<li>7</li>
				<li>8</li>
				<li>9</li>
			</ul>
		</div>
		<div class="column" id="two">
			{% for button in buttons %}
			<button>{{ button.name }}</button>
			<br>
			{% endfor %}
		</div>
		<div class="column" id="three">
			<fieldset>
				<legend align="left">inventory</legend>
					<span class="left">item</span><span class="right">number</span><br>
					<span class="left">item</span><span class="right">number</span><br>
					<span class="left">item</span><span class="right">number</span><br>
					<span class="left">item</span><span class="right">number</span>
			</fieldset>
		</div>
	</div>
</body>
